<a
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
  style="cursor: pointer">
  <div class="align-self-start ">
    <h4 class="list-group-item-heading text-dark">{{ recipe.name }}</h4>
    <p class="list-group-item-text text-dark px-3">{{ recipe.description }}</p>
  </div>
  <span class="align-self-end">
        <img
          [src]="recipe.imagePath"
          alt="{{ recipe.name }}"
          class="img-responsive"
          style="max-height: 50px;"
        >
    </span>
</a>

<!-- <a
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item list-group-item-action clearfix"
  style="cursor: pointer">
  <div class="float-left">
    <h4 class="list-group-item-heading text-dark">{{ recipe.name }}</h4>
    <p class="list-group-item-text text-dark">{{ recipe.description }}</p>
  </div>
  <span class="float-right">
        <img
          [src]="recipe.imagePath"
          alt="{{ recipe.name }}"
          class="img-responsive"
          style="max-height: 50px;"
        >
    </span>
</a> -->